.card-list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 80px;
    border-top: 1px solid #E8E8E8;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(3, 270px);
        max-width: 850px;
    }
}

@media screen and (max-width: 930px) {
    .card-list {
        grid-template-columns: repeat(2, 339px);
        max-width: 708px;
    }
}

@media screen and (max-width: 730px) {
    .card-list {
        grid-template-columns: 1fr;
        max-width: 510px;
    }
}

@media screen and (max-width: 570px) {
    .card-list {
        max-width: 400px;
    }
}

@media screen and (max-width: 420px) {
    .card-list {
        max-width: 299px;
        padding-top: 40px;
        grid-row-gap: 40px;
    }
}