.search-form {
    max-height: 212px;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 83px;
}

.search-form__container {
    max-width: 932px;
    width: 100%;
    margin: 0 0 0 70px;
    display: flex;
    position: relative;
}

.search-form__input {
    height: 48px;
    max-width: 932px;
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 25px;
    padding-left: 22px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    outline: none;
}

.search-form__button {
    height: 48px;
    width: 48px;
    background-image: url(../../images/find-btn.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    transition: ease-in-out .2s;
}

.search-form__button:hover {
    opacity: .7;
}

@media screen and (max-width: 930px) {
    .search-form {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 38px;
    }

    .search-form__container {
        max-width: 708px;
        margin: 0;
    }
}

@media screen and (max-width: 730px) {
    .search-form {
        padding: 60px 10px 45px;
    }

    .search-form__container {
        max-width: 352px;
    }
}