.header {
    max-width: 1140px;
    margin: 0 70px;
    padding: 18px 0 38px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (max-width: 770px) {
    .header {
        margin: 0 30px;
    }
}

@media screen and (max-width: 400px) {
    .header {
        margin: 0 14px;
    }
}